$product-status-badge-right-align: 15px;
$product-status-badge-top-align: 10px;
$product-status-badge-height: 25px;
$product-status-badge-font-size: 13px;
$product-status-badge-font-color: white;
$product-status-badge-font-weight: bold;
$product-status-badge-text-align: right;
$product-status-badge-padding-top: 2px;
$product-status-badge-padding-left: 10px;
$product-status-badge-padding-right: 10px;

$product-status-badge-in-stock-color: #799E5B;
$product-status-badge-no-stock-color: darkred;