@import "variables";

.product-status-badge {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  height: $product-status-badge-height;
  font-size: $product-status-badge-font-size;
  color: $product-status-badge-font-color;
  font-weight: $product-status-badge-font-weight;
  text-align: $product-status-badge-text-align;
  padding-top: $product-status-badge-padding-top;
  padding-left: $product-status-badge-padding-left;
  padding-right: $product-status-badge-padding-right;
}

.product-status-badge--in-stock {
  background: $product-status-badge-in-stock-color;
}

.product-status-badge--no-stock {
  background: $product-status-badge-no-stock-color;
}