@import "variables";

.product-detail {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 10px;
}

.product-detail__avatar {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 250px;
  }
}

.product-detail-content {
  padding-left: 25px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.product-detail-content__close-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;

  button {
    color: black;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;

    &:hover {
      background: black;
      color: white;
    }
  }
}

.product-detail-content__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #799E5B;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  height: 100%;
}

.product-detail-stock {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.product-detail-stock__quantity {
  color: gray;
  font-weight: bold;
}

.product-detail-actions {
  margin-top: 60px;

  button {
    width: 100%;
  }
}

.product-detail-actions__add-to-cart {
  margin-top: 10px;
}
