// General
$app-header-height: 75px;
$app-header-background-color: #c6d87b;

// Logo
$app-header-brand-logo-height: 65px;
$app-header-brand-logo-padding: 5px 5px;

// Actions
$app-header-icons-font-size: 25px;
$app-header-icons-color: black;
$app-header-icon-right-margin: 15px;
