.product-quantity-chooser {
  display: flex;
  width: 100%;
  justify-content: center;
}

.product-quantity-chooser__button {
  width: 35px;
  height: 35px;

  &:first-child {
    margin-right: 5px;
  }

  &:last-child {
    margin-left: 5px;
  }
}

.product-quantity-chooser__input {
  font-weight: bold;
  width: 65px;
  text-align: center;
}