@import "variables";

.main-title {
  color: $main-title-font-color;
  font-family: 'Satisfy', serif;
  font-size: $main-title-font-size;
}

.main-title-border-bottom {
  width: 35%;
  height: 2px;
  background: $main-title-font-color;
}